.Dashboard {
  text-align: center;
}

.row {
  height: 100vh;
  overflow-y: hidden;
}

.col-3 {
  background-color: #0c1038;
  align-items: center;
  padding-top: 2em;
  padding-bottom: 1em;
}

.col-9 {
  background-color: #DBEFEE;
}

.profile-pic {
  margin: auto;
  align-items: center;
  display: flex;
  justify-content: center;
}

.img-fluid {
  width: 60%;
}

.recent-activity {
  padding-top: 2em;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.recent-song-card {
  padding-bottom: 0.5em;
  border-radius: 15px !important;
  margin: 15px;
  width: 60%;
  background-color: #98DED9 !important;
  color: #161D6F;
}

.recent-text {
  font-size: 1.5rem;
  font-weight: 500;
  color: #98DED9;
}

.h1 {
  font-size: 1rem;
}

.recent-info {
  text-align: left;
  display: flex;
  flex-direction: column;
  color: #161D6F;
}

.user-recent-title {
  margin-top: 0px !important;
}

.card-img-top {
  margin: 10px;
  width: 75% !important;
  height: 75%;
  align-self: center;
}

.log-out-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.log-out-button {
  display: flex;
  justify-content: center;
  background-color: #41AEA9;
  color: #161D6F;
  width: 50%;
  height: 50px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  border-radius: 60px;
  align-items: center;
}

.log-out-button:hover {
  transition: 0.5s;
  opacity: 75%;
  text-decoration: none;
  color: #161D6F;
}

.welcome {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  color: #161D6F;
}

.statusInput {
  width: 100%;
  text-align: center;
  height: 40px;
  color:#161D6F;
  background-color: #DBEFEE;
  border: none;
  border-bottom: 4px solid #161D6F;
}

.check-in-btn {
  font-size: 0.9rem;
  width: 15%;
  height: 40px;
  margin-left: 5px;
  display: flex;
  justify-content: center;
  background-color: #41AEA9 !important;
  color: #161D6F !important;
  font-weight: 600 !important;
  text-align: center;
  line-height: 50px;
  border-radius: 50px !important;
  align-items: center;
  padding: 0px !important;
}

.check-in-btn:hover {
  transition: 0.5s;
  opacity: 75%;
  text-decoration: none;
  color: #161D6F;
}

.friends {
  margin-top: 2em;
  background-color: #98DED9;
  height: 55%;
  max-height: 55%;
  border-top-left-radius: 20px;    
  border-bottom-left-radius: 20px;
  border-top-right-radius: 10px;    
  border-bottom-right-radius: 10px;
  padding: 20px !important;
  overflow-y: auto !important;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color:#161D6F;

}


::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #41aea9;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2a7e7a;
}