.Dashboard {
  text-align: center;
}

.row {
  height: 100vh;
  overflow-y: hidden;
}

.col-3 {
  background-color: rgb(185, 185, 185);
  align-items: center;
  padding-top: 2em;
  padding-bottom: 1em;
}

.col-9 {
  background-color: rgb(231, 231, 231);
}

.profile-pic {
  margin: auto;
  align-items: center;
  display: flex;
  justify-content: center;
}

.img-fluid {
  width: 60%;
}

.recent-activity {
  padding-top: 2em;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.recent-text {
  font-size: 1.5rem;
  font-weight: 500;
}

.h1 {
  font-size: 1rem;
}

.recent-song-card {
  padding-bottom: 0.5em;
    border-radius: 25px !important;
    margin: 15px;
    width: 60%;
}

.card-img-top {
  margin: 10px;
  width: 75% !important;
  height: 75%;
  align-self: center;
}

.log-out-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.log-out-button {
  display: flex;
  justify-content: center;
  background-color: gray;
  color: #ffffff;
  width: 50%;
  height: 50px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  border-radius: 60px;
  align-items: center;
}

.log-out-button:hover {
  transition: 0.5s;
  opacity: 75%;
  text-decoration: none;
  color: white;
}

.welcome {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.statusInput {
  width: 100%;
  text-align: center;
  height: 40px;
  border-radius: 20px;
}

.friends{
  margin-top: 2em;
  background-color: white;
  height: 55%;
  max-height: 55%;
  border-radius: 20px;
  padding: 20px !important;
  overflow-y: auto !important;
  display: flex;
  flex-wrap: wrap;
}
