@import url('https://fonts.googleapis.com/css2?family=Catamaran&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');

:root {
    --header-font: "Catamaran", sans-serif;
    --font-family: "Tajawal", Arial, Helvetica, sans-serif;

    --text-color-dark: #333333;
    color: #ffffff;

    --color-spotify-dark-green: #1db954;
    --color-spotify-bright-green: #1ed760;
}